[user]
	email = orionldevoe@gmail.com
	name = Liam DeVoe
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[alias]
lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
lg = !"git lg1"
find = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep
nuke = clean -xfd
[pull]
	rebase = false
[core]
	excludesfile = /Users/tybug/.gitignore
	autocrlf = input
[init]
	defaultBranch = master
[merge]
	conflictstyle = zdiff3
[safe]
	directory = /Volumes/Backup/computer backups
[feature]
	manyFiles = true
